<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AbonneServiceForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AbonneServiceForm.Properties.Settings>
            <setting name="AbonneServiceForm_localhost_Service" serializeAs="String">
                <value>http://localhost:5465/ServiceLibrary/Service.asmx</value>
            </setting>
            <setting name="AbonneServiceForm_ISBNService_ISBNService" serializeAs="String">
                <value>http://webservices.daehosting.com/services/ISBNService.wso</value>
            </setting>
        </AbonneServiceForm.Properties.Settings>
    </applicationSettings>
</configuration>